body {
  font-family: "Comic Sans MS", "Comic Sans", cursive; }

html, body {
  height: 100%; }

.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/login-background.jpg"); }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.gradient-black {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(129deg, rgba(0, 33, 0, 0.9) 0%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0) 100%); }

.gradient-white {
  background-color: rgba(255, 255, 255, 0.7); }

.black-color {
  color: #000; }

.white-color {
  color: floralwhite; }

.orange-color, a:hover {
  color: #F69E04; }

.orange-background {
  background-color: #F69E04; }

.orange-border-bottom {
  border-bottom: 2px solid #F69E04; }

.underlined {
  text-decoration: underline; }

.full-height {
  min-height: 100%;
  height: 100%; }

.padding-top-down {
  padding-top: 5px;
  padding-bottom: 5px; }

.login-container {
  padding: 30px 5px; }
  .login-container .large-padding-top {
    padding-top: 50px;
    padding-bottom: 10px; }
