$font-comic-sans-ms: "Comic Sans MS", "Comic Sans", cursive;
$white-color: floralwhite;
$orange-color: #F69E04;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

body{
    font-family: $font-comic-sans-ms;
}

html, body{
    height: 100%;
}

.background-image{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/login-background.jpg");
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height: 400px;
}

.gradient-black{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(129deg, rgba(0,33,0,0.9) 0%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0) 100%);
}

.gradient-white{
    background-color: rgba(255, 255, 255, 0.7)
}

.black-color{
    color: #000;
}

.white-color{
    color: $white-color;
}

.orange-color, a:hover{
    color: $orange-color;
}
.orange-background{
    background-color: $orange-color;
}
.orange-border-bottom{
    border-bottom: 2px solid $orange-color;
}

.underlined{
    text-decoration: underline;
}

.full-height{
    min-height: 100%;
    height: 100%;
}

.padding-top-down{
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-container {
    padding: 30px 5px;

    .large-padding-top{
        padding-top: 50px;
        padding-bottom: 10px;
    }
}